<config>
 
  <data>
    <predictors>military_expenditure_percent_of_gdp.csv,natural_gas_proven_reserves_per_person.csv</predictors>
    <sep>,</sep>
    <target>target_prueba_modelo.csv</target>
    
    <country>Argentina</country>
    <year>1985</year>
  </data>
  
  <model>
    <trainRate>0.8</trainRate>
  </model>

</config>